@import url("./navbar.css");
@import url("./title.css");
@import url("./footer.css");

html {
 font-family: "abbess", sans-serif;
}
* {
 box-sizing: border-box;
}
body {
 height: 100%;
 width: 100%;
 background-image: radial-gradient(
  circle,
  rgba(4, 1, 50, 1) 16%,
  rgba(3, 50, 97, 1) 31%,
  rgba(1, 147, 192, 1) 49%,
  rgba(0, 212, 255, 1) 60%,
  rgba(39, 110, 173, 1) 67%,
  rgba(77, 7, 91, 1) 86%
 );
}
.container {
 height: 90%;
 width: 90%;
 min-height: 90vh;
 margin: 2rem auto;
}

#content-wrap {
 padding-bottom: 2.5rem;
}
