.header .gametitle {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
}
header {
 position: absolute;
 top: 0;
}
@media screen and (max-width: 600px) {
 .gametitle :nth-child(1) {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
 }
 .gametitle :nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
 }
 .gametitle :nth-child(3) {
  margin-top: 0;
  padding-top: 0;
 }
}

h1 {
 letter-spacing: 0.2em;
 color: #d4af37;
 text-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
 font-family: "abbess", sans-serif;
 -webkit-text-stroke: 0.5px black;
 padding: 0.2em;
}
